.frase{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 20%;
  display: center;
margin: auto;
left: 15%;
}



.nombre{
  color: purple;
  font-size: 45px;
  font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 0 rgb(0, 0, 0);
  font-weight: 1000;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 991px){
.frase{
width: 300px;
height: 400px;
}
}


*::-webkit-scrollbar{
  width: 13px;
  background: grey;

}

*::-webkit-scrollbar-thumb{
  background-color:#7100a5;
  border-radius: 25px;
}

.todo{
  display: flex;
  justify-content: center;
  text-align: center;
}

.avt{
  position: absolute;
  top: 20%;
}